p {
    margin: 0px;
}

body {
    background-color: black;
}

.wd-main-heading {
    font-size: 20px;
    color: white;
    font-family: "Segoe UI";
}

.wd-bg-main {
    background-color: black;
    width: 100%;
}

.wd-top-div {
    border: 1px grey solid;
    height: 50px;
    margin-right: 800px;
}

.wd-handle {
    font-size: 13px;
    color: grey;
    padding-bottom: 12px;

}

.wd-top-padding {
    padding-top: 12px;
}

.wd-left-padding {
    padding-left: 16px;
}

.wd-circle-avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-left: 16px;
    align-content: center
}

.wd-user {
    color: white;
    font-size: 15px;
    font-family: "Segoe UI";
}

.wd-avatar-div {
    background-color: black;
    float: left;
    align-items: center;
}

.wd-content-div {

    background-color: black;
    float: left;

}

.wd-main-content-picture {
    border-radius: 30px 30px 0 0;
    align-content: center;
}

.wd-content-div-main {
    height: 650px;
    margin-right: 800px;
    background-color: black;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.wd-rounded-div {
    border: 1px solid grey;
    border-radius: 30px;
    margin-right: 15px;
    max-width: 506px;
}

.wd-img-text {
    font-size: 15px;
    color: white;
    padding-top: 12px;
    font-family: "Segoe UI";
}

.wd-img-content {
    max-width: 506px;
    padding: 12px;
    color: grey;
}

.wd-img-content-div {
    max-width: 506px;
    padding-top: 12px;
}

.wd-main-content {
    max-width: 506px;
    padding-bottom: 12px;
}

.wd-icons-div {
    margin-left: 20px;
    margin-top: 5px;
}

.wd-icons {
    font-size: 15px;
    color: grey;
}

.wd-icon-stats {
    margin-left: 12px;
    margin-right: 40px;
    color: grey;
}

.wd-heart-icon {
    color: rgb(224, 36, 94)
}

.wd-heart-stats {
    color: rgb(224, 36, 94)
}

.wd-icon-click {
    text-decoration: none;
}

.wd-zero-right-border {
    border-right: 0px transparent;
}

.wd-rounded-buttons {
    border-radius: 20px;
}

.fg-color-blue {
    color: mediumslateblue;
}

.wd-overlay-name {
    bottom: 70px;
    color: rgb(4, 48, 44);
    font-size: 40px;
}

.wd-gray-color {
    color: gray;
}

.wd-rounded-images {
    border-radius: 50%;
}

body {
    background-color: black
}

.wd-list-group .list-group-item {
    background-color: #343a40;
}

.wd-post-list-group .list-group-item {
    background-color: black;
}

.wd-card-bg {
    background-color: black;
}

.wd-nav-item {
    color: white;
}

.wd-nav-bg-border {
    border-bottom: 0;
}

.wd-main-content-images {
    border-radius: 10px;
}

.wd-font-color {
    color: white;
}

.wd-search-bar-color {
    background-color: white;
    border: none;
}

.wd-foreground-text {
    color: #c9d1d9;
}

.wd-image-borders {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.wd-button-bg:hover, .wd-button-bg {
    background-color: rgb(114, 145, 196);
    border: none;
}

.wd-font-white {
    color: white;
}

.wd-follow-button {
    background-color: white;
    color: black;
}

.list-group-item.active {
    background-color: rgb(114, 145, 196);
    color: white;
    border: none;
}

.nav-item.active {
    background-color: rgb(114, 145, 196);
}

.nav-link:hover {
    border: none;
    color: white;
}

.wd-main-content {
    background-color: #343a40;
}

.wd-card-border {
    border-radius: 10px;
    border: 1px solid gray;

}

.wd-card-title-border {
    border-top: 1px solid gray;
}

a {
    text-decoration: none;
}