.wd-zero-right-border{
    border-right: 0px transparent;
}
.wd-rounded-buttons{
    border-radius: 20px;

}

.fg-color-blue{
    color: mediumslateblue;
}

.wd-overlay-name{
    bottom: 60px;
    color: white;
    font-size: 40px;
}

.wd-gray-color{
    color:gray;
    font-size: 0.9em;
}

.wd-main-content-borders{
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.wd-rounded-images{
    border-radius: 50%;
}
.list-group{
    border-radius: 1em;
}

.list-group-item{
    border: none;
}

body { background: black }

.wd-list-group .list-group-item{
    background-color: rgb(0,0,0,0.7);
}

.wd-nav-item{
    color: darkgray;
}
.wd-selected-nav-item{
    color: white;
    font-weight: bold;
}

.wd-nav-bg-border{
    border-bottom: 0;
}

.wd-nav-highlighted-border{
    border-bottom: 2px solid #1DA1F2;
    padding: 0px;
}
.wd-font-color{
    color: lightgray;
}

.wd-search-bar-color{
    background-color: #202327;
    border-color: black;
}

.wd-foreground-text{
    color: darkgray;
}

.wd-image-borders{
    border-top: 1px solid rgb(47, 51, 54);;
    border-bottom: 1px solid rgb(47, 51, 54);;
}

.wd-button-bg{
    background-color: rgb(13,110,253);
}

.wd-font-white{
    color: white;
    font-weight: bold;
}

.wd-follow-button{
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: white;
}


.wd-white-color{
    font-weight: bold;
    color:white;
    font-size: 0.9em;
}

.right-sidebar{
    background-color: #808080;
}

.wd-content-div {
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-footer-text{
    font-size: 13px;
    color: rgb(113, 118, 123);
}

.wd-footer{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}