.wd-zero-right-border {
    border-right: 0px transparent;
}

.wd-rounded-buttons {
    border-radius: 20px;
}

.fg-color-blue {
    color: mediumslateblue;
}

.wd-overlay-name {
    bottom: 70px;
    color: white;
    font-size: 40px;
}

.wd-gray-color {
    color: gray;
}

.wd-rounded-images {
    border-radius: 50%;
}

body {
    background: black
}

.wd-post-list-group .list-group-item {
    border: 1px solid #343a40;
}

.wd-card-bg {
    background-color: black;
}

.wd-nav-item {
    color: black;
    text-decoration: none;
}

.wd-nav-bg-border {
    border-bottom: 0;
}

.wd-main-content-images {
    border-radius: 10px;
}

.wd-font-color {
    color: black;
}

.wd-search-bar-color {
    background-color: white;
    border: none;
}

.wd-foreground-text {
    color: #c9d1d9;
}

.wd-image-borders {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.wd-font-white {
    color: black;
}

.wd-follow-button {
    background-color: white;
    color: black;
}

.list-group-item.active {
    background-color: rgb(114, 145, 196);
    color: white;
    border: none;
}

.wd-main-content {
    background-color: #343a40;
}

.nav-item.active {
    background-color: rgb(10, 90, 206);
    color: white;
}

.wd-main-content {
    background-color: #343a40;

}

a {
    text-decoration: none;
}

.wd-card-border {
    border-radius: 10px;
    border: 1px solid gray;

}

.wd-card-title-border {
    border-top: 1px solid gray;
}

a {
    text-decoration: none;
}